@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.btn {
	@include mix.inline-flexbox;
	padding: func.em(12, var.$font-size-primary);
	border: 1px solid transparent;
	@include mix.user-select(none);
	@include mix.border-radius(4px);
	@include mix.box-shadow(0rem 0.5em 1.125em rgba(0, 0, 0, 0.2));
	@include mix.transition(all 0.4s);
	cursor: pointer;
	font-size: 1em;
	text-decoration: none;
}

.btn--icon {
	@include mix.justify-content(center);
	@include mix.align-items(center);
	width: func.em(30, var.$font-size-primary);
	height: func.em(30, var.$font-size-primary);
	padding: func.em(2, var.$font-size-primary);
	background-color: var.$color-light-grayish-blue;
	border-color: var.$color-light-grayish-blue;
	@include mix.border-radius(50%);
	@include mix.box-shadow(none);
	color: var.$color-desaturated-dark-blue;
}

.btn--link {
	padding: 0;
	@include mix.box-shadow(none);
	color: var.$color-dark-grayish-blue;
}
