@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.btn {
	display: inline-flex;
	border: 1px solid transparent;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.4s;
}

.btn--icon {
	justify-content: center;
	align-items: center;
	width: func.em(30, var.$font-size-primary);
	height: func.em(30, var.$font-size-primary);
	padding: func.em(2, var.$font-size-primary);
	background-color: var.$color-light-grayish-blue;
	border-color: var.$color-light-grayish-blue;
	border-radius: 50%;
	color: var.$color-desaturated-dark-blue;
}

.btn--link {
	color: var.$color-dark-grayish-blue;
	text-decoration: underline;
}
