@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

[class^='icon-'] {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	vertical-align: middle;
}

.icon-share {
	width: func.em(15, var.$font-size-primary);
	height: func.em(13, var.$font-size-primary);
	background-image: url('../../images/icons/share.svg');
}

.icon-facebook {
	width: func.em(20, var.$font-size-primary);
	height: func.em(20, var.$font-size-primary);
	background-image: url('../../images/icons/facebook.svg');
}

.icon-twitter {
	width: func.em(20, var.$font-size-primary);
	height: func.em(20, var.$font-size-primary);
	background-image: url('../../images/icons/twitter.svg');
}

.icon-pinterest {
	width: func.em(20, var.$font-size-primary);
	height: func.em(20, var.$font-size-primary);
	background-image: url('../../images/icons/pinterest.svg');
}
